In [38]:
import pandas as pd

In [57]:
jobs = pd.read_csv('data_scientist_jobs_indeed.csv')
jobs.columns

Index(['Unnamed: 0', 'title', 'company', 'rating', 'location', 'salary',
       'summary', 'post_date', 'record obtained', 'job_url'],
      dtype='object')

In [58]:
jobs = jobs.drop('Unnamed: 0', axis = 1)

In [59]:
jobs.shape

(1771, 9)

In [60]:
jobs.drop_duplicates(keep=False,inplace=True)
jobs.shape

(1349, 9)

In [61]:
jobs.head()

,title,company,rating,location,salary,summary,post_date,record obtained,job_url
0,Data Scientist,Peterson Technology Partners,4.0,"Milwaukee, WI",$45 - $75 an hour,"Skilled data scientist with machine learning, ...",10 days ago,2020-10-29,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,"Data Scientist, Consultant",Guidehouse,3.4,"Atlanta, GA",NaN,This high performing team works with clients t...,1 day ago,2020-10-29,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
2,Junior Data Scientist,ICF,3.5,"Washington, DC",NaN,Our staff provides deep technical and business...,Today,2020-10-29,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
3,Senior Marketing Data Analyst,National Funding,3.3,"San Diego, CA",NaN,3-7 years of experience in data analysis.\nBui...,30+ days ago,2020-10-29,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
4,Data Scientist,Knock,3.7,"Portland, OR",NaN,A strong command of data analysis techniques (...,Today,2020-10-29,https://www.indeed.com/company/Knock.com/jobs/...

In [62]:
missing_vals = jobs.isnull().sum().sort_values(ascending = False)
percent = ( jobs.isnull().sum()/jobs.isnull().count() ).sort_values(ascending = False)
missing_df = pd.concat([missing_vals, percent], axis = 1, keys = ["Total", "Percent"])
total_missing = missing_df[missing_df['Total'] > 0]
total_missing

        Total   Percent
salary   1111  0.823573
rating    317  0.234989

In [53]:
##split city and state

In [56]:
jobs['State'] = jobs['location'].apply(lambda x: x.split(',')[1])

IndexError: list index out of range

In [55]:
jobs['location']

0                Pleasanton, CA
1                Menlo Park, CA
2              Philadelphia, PA
3                 Cambridge, MA
4              Santa Monica, CA
                 ...
1705    South San Francisco, CA
1706                   West, TX
1707                   West, TX
1710              Green Bay, WI
1711        College Station, TX
Name: location, Length: 1301, dtype: object